@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body {
  background-color: #fce8bd;
} */

#menu-toggle:checked ~ .toggled-bar {
  left: 0;
}
#menu-toggle:checked ~ body {
  left: 0;
}
